[Unit]
Description="{{ shoper_name }}-shprho-web"
PartOf={{ shoper_name }}-web.target

[Service]
User={{ user }}
Group={{ user }}
Restart=always
ExecStart={{ shoper_dir }}/env/bin/gunicorn -b 127.0.0.1:{{ webserver_port }} -w {{ gunicorn_workers }} -t {{ http_timeout }} --max-requests {{ gunicorn_max_requests }} --max-requests-jitter {{ gunicorn_max_requests_jitter }} shprho.app:application --preload
StandardOutput=file:{{ shoper_dir }}/logs/web.log
StandardError=file:{{ shoper_dir }}/logs/web.error.log
WorkingDirectory={{ sites_dir }}
